:root {
    --ag-color-back: #111;
    --ag-color-text: #F2F2F2;
    --ag-color-footer: #250000;   
    --ag-color-navback: #2a2a2a;
    --ag-color-navtext: #e8e8e8;
    --ag-color-omniback: #111;
  }