.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.nav-menu{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
}

.dropdown-menu-left {
    right: 0px;
    left: auto;
}
.introjs-tooltiptext {
    color: #000;
}
.introjs-helperLayer{
    background-color: rgba(236, 94, 94, 0.9);
}
#browser-hint{
    width: 1px;
    height: 1px;
    top: -10px;
    left: 30px;
    position: absolute;
}
#earn-hint{ 
    width: 1px;
    height: 1px;
    bottom: 0px;
    right: 150px;
    position: absolute;
}